/**************/
/* CSS REMEDY */
/**************/

/* font face */
@font-face {
  font-family: Ninja-Turtels;
  src: url(../fonts/Turtles-zOzL.ttf);
}

@font-face {
  font-family: bananasFont;
  src: url(../fonts/BananasFont-ZV7gz.ttf);
}


@font-face {
  font-family: italicBananasFont;
  src: url(../fonts/BananasFontItalic-EaLy8.ttf);
}
/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: url('../images/juisteSnijder.png'), auto;
}

/* button:not([disabled]) 
  body {
    cursor: url('pizza'), 
} */

img {
  max-width: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: rgb(255, 255, 255);;

}


/********************/
/* ALGEMENE STYLING */
/********************/


p {
  font-family: helvetica;
  color: rgb(0, 0, 0);
}

h3 {
  font-family: 'bananasFont';
  color: rgb(255, 213, 88);
  font-weight: 100;
  font-size: 1,5em;
}

h2 {
  font-family: 'bananasFont';
  color: rgb(93, 143, 59);
  font-weight: 100;
  font-size: 1,5em;
} 

h1 {
  font-family: 'Ninja-Turtels';
  color: var(--color-headings);
  font-weight: 100;
  text-align: center;
  font-size: 5em;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}


.hoofd {
  height: 100vh;
  width: 100vw;
  background-color: rgb(37, 69, 249);
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 85%;
  display: grid;
}


.linkerKolom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  background-image: url('/images/achtergrondd.png');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  grid-template-rows: 80% 20%;
}

.rechterKolom {
padding: 1em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(255, 255, 255);

}

.pizza {
  width: 70%;;
}

ol {
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
