/**************/
/* CSS REMEDY */
/**************/

/* font face */
@font-face {
  font-family: Ninja-Turtels;
  src: url(../fonts/Turtles-zOzL.ttf);
}

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;


}

button:not([disabled]) {
  cursor: pointer;

}

img {
  max-width: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: crimson
    /* ... */

}


/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  font-family: 'Ninja-Turtels';
  font-weight: 100;
  text-align: center;
  font-size: 4em;
  color: var(--color-headings);
}

/* ... */